html {
	font-family: "helvetica", sans-serif;
	font-size: 16px;
	background-color: white;
}

div {
   /* border: 1px solid red;*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Julius Sans One', sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 3.5rem;
}

h2 {
  font-weight: 600;
  font-size: 3rem;
}

h3 {
  font-weight: 600; 
  font-size: 2.25rem;
}

h4 {
  font-weight: 600;
  font-size: 1.8rem;
}

h5 {
  font-weight: 600;
  font-size: 1.3rem;
}

h6 {
  font-weight: 500;
  font-size: 1rem;
}

p {
  font-family: 'Crimson Text', serif;
}

.flex {
  display: flex;
}


/* Header Styles */

header {
  font-family: 'Julius Sans One', sans-serif;
  z-index: 10;
  position: fixed;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

header:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

header a {
  color: #34495e;
  text-decoration: none;  
}

.brand {
  display: flex;
  flex: 1;
  align-items: center;
  color: #34495e;
}

.brand h1 {
  font-weight: 700;
  font-size: 1.4rem;
}



.brand h1 span {
  font-weight: 400;
}

header .content {
  margin:0 1.5rem;
  height: 4rem;
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
}

header nav ul li {
  padding: 0 1rem;
}

/* Navigation Effect: Brackets */
.cl-effect-1 li::before,
.cl-effect-1 li::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 li::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 li::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 li:hover::before,
.cl-effect-1 li:hover::after,
.cl-effect-1 li:focus::before,
.cl-effect-1 li:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

@media only screen and (min-width: 851px) {
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  header .desktop {
    display: none;
  }

  .brand {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }
}

/* First Banner */


/* Start Moving Background */

.banner {
  color: #ecf0f1;
  padding-top: 4rem;
  background: linear-gradient(230deg,#a24bcf,#4b79cf,#4bc5cf);
    background-size: 300% 300%;
    -webkit-animation: MoveBG 60s ease infinite;
    -moz-animation: MoveBG 60s ease infinite;
    -o-animation: MoveBG 60s ease infinite;
    animation: MoveBG 60s ease infinite;
}

@-webkit-keyframes MoveBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes MoveBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes MoveBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* End Moving Background */

.second-banner {
  color: #2c3e50;
}

.info h4 {
  margin: 2rem 0;
}

.banner-wrapper {
  margin: 2rem 1.5rem;
}

.banner-left {
  width: 60%;
  margin-right: 2rem;
}

.image-container {
  width: 100%;
}

.image-container img {
  width: inherit;
  height: auto;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  opacity: 0.7;
}

.banner-right {
  width: 40%;
  margin-left: 2.5rem;
  padding-right: 3rem;
}

.banner-right, .banner-text {
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.banner-text {
  padding-bottom: 1rem;
}

.btn-start {
  background-color: #fff;
  font-size: 1.5rem;
  width: 95%;
  justify-content: center;
}

.btn-start h4 {
  font-weight: 800;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.btn-start a {
  text-decoration: none;
}
 
.btn {
  border-radius: 2px;
  width: 95%;
  color: #ecf0f1;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border: none;
  padding: 0.5rem 0;
  background: #2c3e50 50%;
  background-size: 100%;
  font-size: 1.5rem;
  text-transform: uppercase;
}
 
.btn:hover {
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* Info Section */

.banner-wrapper#info {
  margin: 2rem 0 2rem 1.5rem;
}

.banner-left.info {
  max-width: 60%;
}

.list-block {
  display: flex;
  flex-direction: column;
}

.info-block {
  display: flex;
  align-items: center;
  transition: background-color 0.5s ease;
}

.info-block:hover {
  background-color: #3498db;
  color: #ecf0f1;
}

.info-block:hover a {
  color: #ecf0f1;
  text-decoration: underline;
}

.info-img {
  width: 9rem;
  height: auto;
}

#orientation .info-img, #guest .info-img, #campus .info-img {
  margin: 1rem; 
}

.info-block#orientation {
  position: relative;
  top: -1rem;
  margin-bottom: -1rem;
}

.info-img img {
  width: inherit;
}

.info-text h5, .info-text p {
  padding-bottom: 0.5rem;
}

.info-text a {
  text-decoration: none;
  color: #3498db;
}

.quote-name {
  font-weight: bold;
  padding-top: 1.5rem;
}

/* Course section */

.start-learning {
  background-image: url('../images/learning-bg.jpg');
  flex-direction: column;
  width: 100%;
}

.start-learning .learning-title {
  justify-content: center;
  display: inline-flex;
  margin: 2rem;
}

.course-list {
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.courses {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: #fff;
  flex-direction: column;
  width: 25%;
  margin: 1rem;
}

.courses:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
}

.course-img {
  width: 100%;
}

.course-img img {
  width: 100%;
}

.course-text {
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  padding-right: 2rem;
}

.course-text h5 {
  margin: 1rem 0 0.5rem;
}

.course-text h6 {
  margin: 0.5rem 0;
}

@media only screen and (max-width: 480px) {
  
  .courses {
    justify-content: center;
    margin-top: 0;
    width: 95%;
    margin-bottom: 0.5rem;
  }
  
  .course-list {
    flex-direction: column;
    align-items: center;
  }

  .course-img {
    display: none;
  }

  .course-text h6,
  .course-text p {
    display: none;
  }

  .course-text h5 {
    margin: 0;
  }

  .course-text {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  .courses {
    background-color: #eee;    
  }

  .start-learning {
    background-color: #fffafa;
    border-top: 1px solid #eee;
  }

  .learning-title-mobile {
    display: inline-flex;
  }
}